Repository threfo/rrweb: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git, pnpm lint:markdownlint

chore: task
  .github/workflows/code.cd.yml
  README.md
  docs/TODO.md
  package.json
  packages/code/README.md
  packages/code/package.json
  packages/code/src/index.ts
  playground/core/lib/main.ts
  playground/core/package.json
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git, pnpm lint:markdownlint

chore: tasks
  docs/TODO.md
Due: pnpm lint:prettier, pnpm lint:markdownlint

feat: insetToIndexedDb
  packages/code/package.json
  packages/code/src/utils/index.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git

feat: insetToIndexedDb
  packages/code/src/index.ts
  packages/code/src/utils/index.ts
  packages/code/src/utils/insetToIndexedDb.ts
  playground/core/lib/main.ts
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git

fix: packages tsconfig.json moduleResolution change to node
  packages/code/tsconfig.json
Due: none

Path conditions:
  pnpm lint:eslint: any of: *.{js,ts}
  pnpm lint:prettier: ((any of: *.{js,ts}) or (any of: package.json)) or (any of: *.md)
  pnpm test:git: any of: *.{js,ts}
  pnpm lint:markdownlint: any of: *.md
